@use '../../variables.scss';

.container {

    @media (max-width: variables.$breakpoint-m) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    &__infoHost {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &__name {
            margin-right: 10px;
            color: variables.$red-color;
            width: 50%;
            text-align: end;
            line-height: 142.6%;

            @media (max-width: variables.$breakpoint-m) {
                font-size: 14px;
            }
        }

        &__img {
            width: 64px;
            border-radius: 50%;

            @media (max-width: variables.$breakpoint-m) {
                width: 40px;
            }
        }
    }

    &__stars {
        display: flex;
        margin: 20px 0;
        justify-content: end;
        gap: 20px;

        @media (max-width: variables.$breakpoint-m) {
            gap: 10px;
        }
    }
}

@media (max-width: variables.$breakpoint-m) {
    .star {
        width: 13.406px;
        height: 13px;
    }
}