@use '../../variables.scss';

.container {
    width: 60%;

    @media (max-width: variables.$breakpoint-l) {
        width: 80%;
    }

    @media (max-width: variables.$breakpoint-m) {
        width: 100%;
    }

    &__title {
        color: variables.$red-color;
        font-size: 36px;

        @media (max-width: variables.$breakpoint-m) {
            font-size: 18px;
        }
    }

    &__span {
        font-size: 18px;
        font-weight: 500;

        @media (max-width: variables.$breakpoint-m) {
            font-size: 14px;
        }
    }

    ul {
        list-style: none;
        display: flex;
        margin: 20px 0;
    }
}