@use '../../variables.scss';

.container {
    width: 60%;

    @media (max-width: variables.$breakpoint-l) {
        width: 80%;
    }

    @media (max-width: variables.$breakpoint-m) {
        width: 100%;
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    &__title {
        color: variables.$red-color;
        font-size: 36px;

        @media (max-width: variables.$breakpoint-m) {
            font-size: 18px;
        }
    }

    &__span {
        font-size: 18px;
        font-weight: 500;

        @media (max-width: variables.$breakpoint-m) {
            font-size: 14px;
        }
    }

    ul {
        display: flex;
        list-style: none;
        margin-top: 20px;
        margin-bottom: 24px;

        @media (max-width: variables.$breakpoint-m) {
            margin-top: 10px;
            margin-bottom: 15px;
        }
    }
}