@use '../../variables.scss';

.container {
    padding-left: 100px;
    padding-right: 100px;

    @media (max-width: variables.$breakpoint-m) {
        padding-left: 0;
        padding-right: 0;
        margin: 22px 20px 25px 20px;
    }
}