@use '../../variables.scss';

.main {
    padding: 0 100px;

    @media (max-width: variables.$breakpoint-m) {
        padding: 27px 20px 0 20px;
    }

    .containerInfo {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    
        @media (max-width: variables.$breakpoint-m) {
            flex-direction: column;
            margin-top: 13px;
        }
    }

    &__dropdown {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-bottom: 20px;

        & > li:first-child {
            margin-right: 75px;
        }

        @media (max-width: variables.$breakpoint-m) {
            flex-direction: column;
            margin-bottom: 5px;
        }
    }
}

.loading {
    font-size: 40px;
    font-weight: 500;
    color: variables.$red-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

