@use '../../variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 50px;
    padding: 0 100px 0 100px;

    @media (max-width: variables.$breakpoint-m) {
        padding: 0 20px;
        margin-top: 20px;
        margin-bottom: 0;
    }
}

.logo {
    img {
        height: 68px;
        width: 210px;
        object-fit: contain;

        @media (max-width: variables.$breakpoint-m) {
            width: 120px;
            height: 45px;
        }
    }
}

.nav {
    ul {
        display: flex;
        gap: 57px;
        list-style: none;

        @media (max-width: variables.$breakpoint-m) {
            gap: 20px;
        }

        .activeLink {
            text-decoration: underline;
        }

        li {
            font-size: 24px;
            font-weight: 500;

            @media (max-width: variables.$breakpoint-m) {
                font-size: 16px;
            }
        }

        a {
            text-decoration: none;
            color: black;

            &:hover {
                color: lighten(black, 30%);
            }
        }
    }
}