@use '../../variables.scss';

.gallery {
    border-radius: 25px;
    background-color: variables.$grey-color;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    margin-bottom: 50px; 
    padding: 56px 100px;
    gap: 60px 30px;

    @media (max-width: variables.$breakpoint-xl) {
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
    }

    @media (max-width: variables.$breakpoint-m) {
        grid-template-columns: 1fr;
        background-color: transparent;
        gap: 30px;
        padding: 0;
        margin: 30px 20px;
    }
}
  