@use '../../variables.scss';

.errorPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 139px;
    padding: 0 100px 0 100px;

    @media (max-width: variables.$breakpoint-m) {
        gap: 113px;
        text-align: center;
        padding: 0;
    }

    .title {
        color: variables.$red-color;
        font-size: 288px;
        font-weight: 700;
        margin-top: 119px;

        @media (max-width: variables.$breakpoint-m) {
            margin-top: 100px;
            font-size: 90px;
        }
    }

    .text {
        color: variables.$red-color;
        font-size: 36px;
        font-weight: 500;

        @media (max-width: variables.$breakpoint-m) {
            font-size: 22px;
            text-align: center;
            line-height: 142.6%;
        }
    }

    .link {
        font-size: 18px;
        font-weight: 500;
        text-decoration-line: underline;
        color: #000;
        margin-bottom: 139px;

        @media (max-width: variables.$breakpoint-m) {
            margin-bottom: 113px;
        }
    }
}