@use '../../variables.scss';

.errorPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;

    .title {
        color: variables.$red-color;
        font-size: 288px;
        font-weight: 700;
        margin-top: 139px;
    }

    .text {
        color: variables.$red-color;
        font-size: 36px;
        font-weight: 500;
    }

    .link {
        font-size: 18px;
        font-weight: 500;
        text-decoration-line: underline;
        color: #000;
        margin-bottom: 139px;
    }
}